//- partials/meta.pug
mixin meta(title, description)
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
  title= title || 'Mule CMS'
  meta(name="description" content=description || '')